<!-- 包含船图、查pid在内的功能 -->
<app-bay-plot></app-bay-plot>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- 返回 -->
<button nz-button [nzType]="'primary'" (click)="reFreash()">
  <span>返回</span>
</button>

<!-- 搜索展示数据 -->
<nz-input-group nzSearch nzSize="large">
  <input type="text" nz-input placeholder="请输入" [formControl]="textInput" (input)="search(textInput)"/>
</nz-input-group>
<nz-alert
  *ngIf="listOfData.length === 0 && isSearched && !isPidInList"
  nzType="error"
  nzMessage="未找到匹配结果"
  nzDescription="请尝试其他搜索条件"
  nzShowIcon
></nz-alert>

<nz-spin [nzSpinning]="isLoading" nzTip="正在加载..."
  ><nz-table
    #basicTable
    [nzData]="listOfData"
    [nzTotal]="count"
    [nzFrontPagination]="false"
    [(nzPageSize)]="allDataPageSize"
    [(nzPageIndex)]="allDataPageIndex"
    (nzPageIndexChange)="ctnPageIndexChange(allDataPageIndex)"
    (nzPageSizeChange)="ctnPageSizeChange(allDataPageSize)"
    [nzShowTotal]="totalTemplate"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 20, 30, 50, 100, 200]"
  >
    <thead>
      <tr>
        <th appResizableColumn="idx">序号</th>
        <th appResizableColumn="p_id">预配id</th>
        <th appResizableColumn="ves_cell">船箱位</th>
        <th appResizableColumn="ctn_group">箱组信息</th>
        <th appResizableColumn="ctn_size">箱尺寸</th>
        <th appResizableColumn="ctn_height">箱高</th>
        <th appResizableColumn="ctn_status">箱状态</th>
        <th appResizableColumn="pod">pod</th>
        <th appResizableColumn="cell_work_bay">cell_work_bay</th>
        <th appResizableColumn="if_dj">if_dj</th>
        <!-- <th>if_over</th>
        <th>if_ref</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData">
        <td>{{ data.idx }}</td>
        <td>{{ data.p_id }}</td>
        <td>{{ data.ves_cell }}</td>
        <td>{{ data.ctn_group }}</td>
        <td>{{ data.ctn_size }}</td>
        <td>{{ data.ctn_height }}</td>
        <td>{{ data.ctn_status }}</td>
        <td>{{ data.pod }}</td>
        <td>{{ data.cell_work_bay }}</td>
        <td>{{ data.if_dj }}</td>
        <!-- <td>{{ data.if_over }}</td>
        <td>{{ data.if_ref }}</td> -->
      </tr>
    </tbody>
  </nz-table></nz-spin
>

<ng-template #totalTemplate let-total>共{{ count }}</ng-template>
